@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --backgroundColor: #323437;
  --textColor: #b3b4ab;
  --textIcon: #646669;
  --colorActive: #e2b714;
  --boxBackground: #2c2e31;
}
html {
  background-color: var(--backgroundColor);
  font-family: "Roboto Mono", monospace;
}
body {
  margin: auto;
  width: 50%;
  height: 100vh;
  position: relative;
}
#main {
    
}
#header {
  position: relative;
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 3rem 0;
}
#header img {
  width: 4rem;
}
#header .icon i {
  padding: 0 1rem;
}
#header .name h1 {
  color: var(--textColor);
}
#header i,
#header .name {
  color: var(--textIcon);
}
#header .user {
  width: 20%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 0;
  color: var(--textIcon);
}
#content {
}
#content .selection {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 2rem;
  background-color: var(--boxBackground);
  border-radius: 5px;
  padding: 0 1rem;
  margin-bottom: 2rem;
}
#content .selection .a,
#content .selection .b,
#content .selection .c {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--textIcon);
}
hr {
  height: 1.3rem;
  border: 2px solid var(--backgroundColor);
  border-radius: 5px;
}
#content .a {
  width: 20%;
}
#content .b {
  width: 45%;
}
#content .c {
  width: 20%;
}
#content .word {
  width: 50vw;
  height: 50vh;
  color: var(--textIcon);
  padding: 8rem 2rem;
}
.word .language {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 15%;
}
.word .text{
    font-size: 1.4rem;
    padding: 2rem;
}
.word .reload{
    width: 100%;
    text-align: center;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    display: grid;
    justify-content: center;
    align-items: center;
}
#footer .shortcut .test{
    display: flex;
}
#footer .shortcut .line{
    display: flex;
}